* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}


.mobster {
	color: black;
	padding: 1%;
	display: inline-block;
	background-image: url("http://stockfresh.com/files/r/rcarner/m/14/1057410_stock-photo-old-looking-paper-for-a-grungy-background.jpg");
	width: 30%;
	vertical-align: top;
	margin: 1%;
	text-overflow: hidden;
}

.ul {
	width: 100%;
	display: inline-block;
	text-align: center;
	text-align: center;
}

.inputContainer {
	border: 1px solid black;
	position: absolute;
	left: 50%;

}
